@media only screen and (min-width: 768px) {
    .search{
        width: 250px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1
    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .search{
        width: 150px;
        position: absolute;
        top: 10px;
        left: 20px;
        right: 0;
        bottom: 0;
        
        z-index: 1
    }    
  }

  .btn{
      visibility: hidden
  }